---
# https://pre-commit.com
default_install_hook_types: [commit-msg, pre-commit]
default_stages: [pre-commit, manual]
fail_fast: false

ci:
  skip: [pyright, shellcheck, poetry-check]

repos:
  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.10.0
    hooks:
      - id: python-check-blanket-noqa
      - id: python-check-blanket-type-ignore
      - id: python-check-mock-methods
      - id: python-no-eval
      - id: python-no-log-warn
      - id: python-use-type-annotations
      - id: python-check-blanket-noqa
      - id: rst-backticks
      - id: rst-directive-colons
      - id: rst-inline-touching-normal
      - id: text-unicode-replacement-char

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
      - id: check-ast
      - id: check-builtin-literals
      - id: check-case-conflict
      - id: check-json
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: check-symlinks
      - id: check-toml
      - id: check-vcs-permalinks
      - id: check-xml
      - id: debug-statements
      - id: detect-private-key
      - id: fix-byte-order-marker
      - id: mixed-line-ending
      - id: trailing-whitespace
        types: [python]
      - id: end-of-file-fixer
        types: [python]

  - repo: https://github.com/lyz-code/yamlfix/
    rev: 1.17.0
    hooks:
      - id: yamlfix

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.6.9
    hooks:
      - id: ruff
        types_or: [python, pyi, jupyter, toml]
        args: [--verbose]

      - id: ruff-format
        types_or: [python, pyi, jupyter]

  - repo: https://github.com/executablebooks/mdformat
    rev: 0.7.18
    hooks:
      - id: mdformat
        additional_dependencies:
          - mdformat-black
          - mdformat-config
          - mdformat-footnote
          - mdformat-frontmatter
          - mdformat-gfm
          - mdformat-gfm-alerts
          - setuptools

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.11.2
    hooks:
      - id: mypy
        additional_dependencies:
          - lxml
          - types-pyyaml
          - boto3
          - boto3-stubs[appconfig,appconfigdata]
          - jinja2
          - poethepoet
          - pyspry
          - pytest
          - pytest-mock
          - pyyaml
          - sdnotify
          - sh
          - tomlkit
          - typer[all]
          - types-pyyaml
          - typing_extensions
          - watchfiles

        # mypy sometimes encounters false positives when run on individual files (instead of the whole project)
        args: [--junit-xml, docs/reports/mypy.xml, --html-report, docs/reports/mypy-html, .]
        pass_filenames: false

  - repo: https://github.com/RobertCraigie/pyright-python
    rev: v1.1.384
    hooks:
      - id: pyright
        additional_dependencies:
          - boto3
          - boto3-stubs[appconfig,appconfigdata]
          - jinja2
          - poethepoet
          - pyspry
          - pytest
          - pytest-mock
          - pyyaml
          - sdnotify
          - sh
          - tomlkit
          - typer[all]
          - types-pyyaml
          - typing_extensions
          - watchfiles

  - repo: local
    hooks:
      - id: shellcheck
        name: shellcheck
        entry: shellcheck --check-sourced
        language: system
        types: [shell]
      - id: poetry-check
        name: poetry check
        entry: poetry check
        language: system
        files: pyproject.toml
        pass_filenames: false
