# https://pre-commit.com
default_install_hook_types: [commit-msg, pre-commit]
default_stages: [commit, manual]
fail_fast: false
ci:
  skip:
    - pyright
    - shellcheck
    - poetry-check

repos:
  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.10.0
    hooks:
      - id: python-check-blanket-noqa
      - id: python-check-blanket-type-ignore
      - id: python-check-mock-methods
      - id: python-no-eval
      - id: python-no-log-warn
      - id: python-use-type-annotations
      - id: python-check-blanket-noqa
      - id: rst-backticks
      - id: rst-directive-colons
      - id: rst-inline-touching-normal
      - id: text-unicode-replacement-char

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-added-large-files
      - id: check-ast
      - id: check-builtin-literals
      - id: check-case-conflict
      - id: check-json
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: check-symlinks
      - id: check-toml
      - id: check-vcs-permalinks
      - id: check-xml
      - id: debug-statements
      - id: detect-private-key
      - id: fix-byte-order-marker
      - id: mixed-line-ending
      - id: trailing-whitespace
        types: [python]
      - id: end-of-file-fixer
        types: [python]

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v4.0.0-alpha.8
    hooks:
      - id: prettier

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.4.10
    hooks:
      - id: ruff
        types_or: [python, pyi, jupyter, toml]
        args: [--verbose]

      - id: ruff-format
        types_or: [python, pyi, jupyter]

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.10.0
    hooks:
      - id: mypy
        additional_dependencies:
          - lxml
          - types-pyyaml
          - boto3
          - boto3-stubs[appconfig,appconfigdata]
          - jinja2
          - pyspry
          - pyyaml
          - sdnotify
          - sh
          - tomlkit
          - typer[all]
          - types-pyyaml
          - typing_extensions
          - watchfiles

  - repo: https://github.com/RobertCraigie/pyright-python
    rev: v1.1.368
    hooks:
      - id: pyright
        additional_dependencies:
          - boto3
          - boto3-stubs[appconfig,appconfigdata]
          - jinja2
          - pyspry
          - pytest
          - pytest-mock
          - pyyaml
          - sdnotify
          - sh
          - tomlkit
          - typer[all]
          - types-pyyaml
          - typing_extensions
          - watchfiles

  - repo: local
    hooks:
      - id: shellcheck
        name: shellcheck
        entry: shellcheck --check-sourced
        language: system
        types: [shell]
      - id: poetry-check
        name: poetry check
        entry: poetry check
        language: system
        files: pyproject.toml
        pass_filenames: false
