[CONFIG_NINJA_OBJECTS.example-local-template.dest]
path = "{{ CONFIG_NINJA_OBJECTS["example-local-template"].dest.path }}"
template = "{{ CONFIG_NINJA_OBJECTS["example-local-template"].dest.template }}"
